[org/gnome/shell]
enabled-extensions=['user-theme@gnome-shell-extensions.gcampax.github.com', 'dash-to-dock@micxgx.gmail.com']

[org/gnome/shell/extensions/user-theme]
name='X-Arc-White-v1.4.9'

[org/gnome/shell/extensions/dash-to-dock]
apply-custom-theme=true
preferred-monitor=0
dock-position='LEFT'

[org/gnome/desktop/background]
picture-uri='file:///usr/share/themes/X-Arc-White-v1.4.9/extra/mountains.png'

[org/gnome/desktop/interface]
font-name='Liberation Sans 11'
icon-theme='Arc-OSX-D'
cursor-theme='Paper'
gtk-theme='X-Arc-White-v1.4.9'

[org/gnome/desktop/wm/preferences]
titlebar-font='Liberation Sans Bold 11'
